/* App.css */

/* General styles */
.container {
  position: relative;
  width: 100%; /* Adjust according to your layout */
  max-width: 650px;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellowgreen;
  background-color: #f8f9fa; /* Light background */
}

.counter {
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightcoral;
  background: linear-gradient(
    to right,
    #ff0000,
    #ffffff
  ); /* Gradient background */
}

.main_container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust gap between elements */
}

.container_form {
  max-width: 400px;
  width: 100%;
  margin: 20px; /* Add space around the form */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* White background */
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: none;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Unsaved changes */
.unsavedChanges {
  color: red;
  margin-top: 10px; /* Add space between form and message */
}
